<!DOCTYPE html>
{%load static%}
<html>

<head>
  <title>Login</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script>
    function onSubmit(token) {
      document.getElementById("login-form").submit();
    }
    function enableBtn() {
      document.getElementById("submit").disabled = false;
    }
    $(function () {
      function rescaleCaptcha() {
        console.log("resacale");
        var width = $('.g-recaptcha').parent().width();
        var scale;
        if (width < 302) {
          scale = width / 302;
        } else {
          scale = 1.0;
        }

        $('.g-recaptcha').css('transform', 'scale(' + scale + ')');
        $('.g-recaptcha').css('-webkit-transform', 'scale(' + scale + ')');
        $('.g-recaptcha').css('transform-origin', '0 0');
        $('.g-recaptcha').css('-webkit-transform-origin', '0 0');
      }

      rescaleCaptcha();
      $(window).resize(function () { rescaleCaptcha(); });

    });
  </script>

  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body style="background-color: #508bfc;">
  <section class="" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Login</h3>

              <form method="post" id='login-form'>
                {% csrf_token %}
                {% if fail %}
                <h2 style="color:red;">Parola sau username incorecte</h2>
                {% endif %}
                <div class="form-outline mb-4">
                  <label class="form-label" for="username">Username</label>
                  <input type="text" id="username" name="username" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Parola</label>
                  <input type="password" id="password" name="password" class="form-control form-control-lg" />
                </div>

                <center>
                  <div class="g-recaptcha" data-sitekey="{{PUBLIC_KEY}}" data-callback="enableBtn"></div>
                </center>
                <br />
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="submit" disabled>Login</button>

              </form>
              <br />
              <h5>Nu aveti cont? <a href='/signup'>Sign Up</a></h5>
              <h6>Ati uitat parola? <a href='/forgot_password'>Resetare parola </a></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</body>
<!--
6LfX4volAAAAABr3Ze2T2TJI47mR2DlItZV-
kBOx
-->

</html>